<div class="table" [ngStyle]="{'height': height, 'width': width}">
    <table [ngStyle]="{'width': tableWidth}">
      <thead>
        <tr [ngStyle]="{'color': headColor}">
          <th *ngFor="let header of head" [ngStyle]="{'background':headBackground, 'padding': headPadding}">
            <div [ngStyle]="{'width': header.width}">{{header.label}}
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of data, index as i" (click)="rowClick(i)" [ngClass]="{'fail': showStatus(row)}" [ngStyle]="{'background': (i % 2) ? alternateBackground : ''}">
          <td *ngFor="let header of head" [ngStyle]="{'padding': dataPadding}">
            <span *ngIf="!header.status">{{row[header.key]}}</span>
            <span *ngIf="header.status">{{row[header.key]}}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
