<h3>Table of Test Cases where Total AlphaTest Time is represented from Maximum to Minimum</h3>
<p>click on table row to find layer details about test case</p>
<app-table [data]="alphaTestProfile" [head]="headers" [headBackground]="'#33498A'" [headColor]="'#FFFFFF'"
    [alternateBackground]="'#F5F5F5'" [height]="'auto'" [tableWidth]="'100%'" [headPadding]="'15px'"
    [dataPadding]="'15px'" (clickValue)="detailView($event)"></app-table>
